.Container {
  width: 100%;
  height: 100vh;
  background-color: #dbf1f4;
}
.App {
  text-align: center;
  width: 30%;
  height: 85%;
  /* border: 1px solid red; */
  margin: auto;
  box-sizing: border-box;
  background: rgb(92,179,190);
  background: linear-gradient(180deg, rgba(92,179,190,1) 0%, rgba(157,243,255,1) 100%);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.App .Header{
  display: flex;
  text-align: center;
  justify-content: center;
}

.App .Header img{
  width: 35px;
}
.App .Header > h1{
  color: white;
  flex: 1;
  margin: 0;
  letter-spacing: 5px;
  font-weight: 500;
}

.Container .App .Todo{
  position: relative;
  flex: 1;
  /* border: 1px solid burlywood; */
}
.p1 {
  position: absolute;
  top: 130px;
  left: 245px;
}
.p2 {
  position: absolute;
  top: 157px;
  left: 265px;
}
.Container .App .Todo p{
  background-color: white;
  border-radius: 4px;
  display: inline-block;
  padding: 5px 10px;
  margin: 0;
  font-size: 18px;
  letter-spacing: 1px;
}
.Container .App .Todo img{
  max-width: 60%;
  position: absolute;
  top: 230px;
  left: 110px;
}
.AddButtonContainer {
  /* border: 1px solid red; */
  margin-bottom: 10px;
  height: 50px;
  width: 100%;
}

.AddButtonContainer button {
  border: none;
  width: 50px;
  height: 50px;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  position: relative;
  box-shadow: 0px 2px 5px -2px rgba(0,0,0,.6);
  outline: none;
  /* box-shadow: 0px 0px 21px -2px rgba(255,255,255,1); */
}
.AddButtonContainer button p{
  position: absolute;
  font-size: 30px;
  color: #65B8C3;
  top: -21px;
  left: 16px;
}
.AddButtonContainer input{
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
  font-size: 20px;
  font-weight: 500;
  background-color: transparent;
  padding: 13px 20px;
  border: 2px solid rgb(68, 181, 196);
  border-radius: 5px;
}